/* 글로벌 */
body {
    border : 0;
    height: 100%;
    text-align: center;
    background-color: #333;
    padding: 0;
    margin:0 ;
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
}
a {
  text-decoration: none;
  color: darkslategrey;
  font-weight: 800;
}

/* 버튼 */
button{
  background: #36486b;
  opacity: 0.7;
  color: #fff;
  border: none;
  position: relative;
  height: 34.5px;
  width: 15%;
  font-size: 13px;
  padding: 0 2em;
  cursor:pointer;
  transition: 800ms ease all;
  outline:none;
  margin-left: 5px;
}
button:hover{
  background: #fff;
  color: #36486b;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #36486b;
  transition: 400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}

/* MAIN */
#main {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    background: white;
}

#main header {
  margin-left: 0;
  padding: 10px 5px;
  background-color: ghostwhite;
  color: #111;
  text-align: center;
  font-family: Courier, sans-serif;
  cursor: pointer;
}

#main header h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
    line-height: 1.2em;
    font-weight: 400px;
}

#main .showcase {
  margin : 0px;
  padding: 0;
  background-image: url(../images/city3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 0.80;
  height: 35vh;
  font-family: "Lato", sans-serif;
  text-align: center;
  position: relative;
}

#main .ptxt {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: ghostwhite;
  letter-spacing: 7px;
  text-transform: uppercase;
}

#main .ptxt .border {
  background-color: #111;
  color: #fff;
  opacity: 0.75;
  padding: 20px;
}

/* MIDDLE */
#main .middle {
  background-color: ghostwhite;
  height: 110px;
  padding: 20px 15px 0px 15px;
}
#main .middle .tagBox{
  display: flex;
  justify-content: space-between;
}

#main .middle #roomSelect{
  width: 82%;
  height: 32px;
  background-color: ghostwhite;
  margin-bottom: 10px;
}

select {
  padding-left: 10px;
  font-size: 13px;
  font-family: monospace sans-serif;
  color: #111;
  border-radius: 0;
  border: 1px solid #111;
  -webkit-appearance: none; /* 화살표 없애기 for chrome*/
  appearance: none;         /* 화살표 없애기 공통*/
}
select:invalid {
  color: gray;
}

#massage{
  width: 80%;
  height: 30px;
  padding-left: 10px;
  font-size: 13px;
  font-family: monospace sans-serif;
  color: #111;
  border-radius: 0;
  border: 1px solid #111;
  background-color: ghostwhite;
}

/* CHATS */
#chats {
  background-color: ghostwhite;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.1em;
}

#chats p{
  margin:15px 15px;
  background-color: white;
  text-align: center;
  box-shadow: 5px 10px rgba(3, 3, 3, 0.8);
  height: 100px;
  padding-bottom: 40px;
  font-weight: 150;
  line-height: 1.6em;
  opacity: 0.75;
  color: black;
}

#chats p:hover{
  background-color: #c94c4c;
  box-shadow: 5px 10px #667292;
  opacity: 0.85;
  color: white;
  transition: 700ms ease all;
}

#chats p #name{
  padding-top: 10px;
  display: block;
  height: 30px;
  color: ghostwhite;
  letter-spacing: 2px;
  font-weight: 450;
  font-family: "Lato", sans-serif;
  text-align: center;
  background-color: #36486b;
}

#chats p #time{

  font-size: 14px;
  font-weight: 450;
  font-family: "Lato", sans-serif;
  text-align: center;
}

/* 반응형 */
@media(max-width:830px){
  #chats {
    background-color: ghostwhite;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.1em;
  }
}

@media(min-width:1240px){
  #chats {
    background-color: ghostwhite;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.1em;
  }
}
/* 선택 등록 버튼 아래로 내려오게 해야함..(실패중)*/
@media(max-width:541px){
  #main .middle #roomSelect{
    width: 80%;
    height: 32px;
    background-color: ghostwhite;
    margin-bottom: 10px;
  }

  #massage{
    width: 80%;
    height: 30px;
    padding-left: 10px;
    font-size: 13px;
    font-family: monospace sans-serif;
    color: #111;
    border-radius: 0;
    border: 1px solid #111;
    background-color: ghostwhite;
  }

  .btn{
    width: 20%;
  }
}

@media(max-width:500px){
  #main .ptxt {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: ghostwhite;
    letter-spacing: 7px;
    text-transform: uppercase;
  }
}

@media(min-width:1600px){
  #chats {
    background-color: ghostwhite;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.1em;
  }
}

/* 기존 */
#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

/* form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
} */

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}
